{% extends "index.html" %}
{% block content %}
<!-- Página Principal -->

<br>
<div class="container">
	<div class="row" id="Principal">
      <div class="col l12 m12 cs12 white">
            <center><p>Bienvenidos a mi Blog puedes publicar un post, responder a otros e interactuar con amigos!!!</p></center>
      </div>
	</div>
</div>

<!-- Mensajes -->
<div class="container">
  <div class="row" id="Mensajes">
    <br>
    <div class="col s12 m12 l12 white">
        <center><p><b>Mensajes</b></p></center>
    </div>
    <br>
    <div class="col s12 m12 l12 white">
        <center>
            <table class="centered">
	            <tr>
                    <td align='center'>No hay Mensajes :c</td>
                </tr>    
            </table>
        </center>
    </div>
  </div>
</div>
</main>

<main>
<div class="container">
  <div class="row" id="Mensaje1" style="display:none;">
    <div class="col l12 m12 s12 white">
      <center><p class="form-control">Para crear un nuevo mensaje debe primero registrarse ó iniciar sesión </p></center>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" id="Mensaje2" style="display:none;">
    <div class="col l12 m12 s12 white">
      <center><p class="form-control">Para modificar un mensaje debe primero registrarse ó iniciar sesión </p></center>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" id="Mensaje3" style="display:none;">
    <div class="col l12 m12 s12 white">
      <center><p class="form-control">Para ver el perfil de un usuario debe primero registrarse ó iniciar sesión </p></center>
    </div>
  </div>
</div>
{% endblock %}
